layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="src" cwd="./src" {
		pane split_direction="vertical" {
			command "nvim"
			args "LaTeXDatax.jl"
		}
    }
    tab name="env" cwd="." {
		floating_panes {
			pane name="terminal" {
				x "25%"
				y "25%"
				width "50%"
				height "50%"
			}
		}
		pane name="edit" size="60%" focus=true {
			command "julia"
		}
	}
    tab name="test" cwd="./test" {
		pane split_direction="vertical" {
			command "nvim"
			args "runtests.jl"
		}
    }
}

